html{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    width: 468px;
    height: 523px;
}

p {
    margin: 0;
}

.post{
    display: grid;
}

i{
    margin: 0px 5px;
}

.post-header {
    background-color: white;
    display: flex;
    align-items: center;
    
}

.img{
    display: flex;
}

.rigth {
    margin-left: auto;
}

.post-body {
    background-color: white;
}

.post-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.margin-p p{
    margin: 0 0 0 5px;
}

.post-icono {
    display: flex;
    justify-items: flex-start;
    margin: 15px 0 15px 0;
}

.text {
    margin: 7px 10px 7px 10px;
    text-align: justify;

}